.container {
  height: 35rem;
  background-color: #211D45; 
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 5rem;

  font-size: 1.5rem;
  color: #fff;
}



@media (max-width: 600px) {
  
}
