.container {
  background-color: #211d45;
  height: 35rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  position: relative;
}

.heading {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  font-size: 2rem;
  font-weight: 400;
  height: 6rem;
  background-color: #24204B;
  color: #6863A0;
}