@import "./config";

.heading {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  font-size: 2rem;
  font-weight: 400;
  height: 6rem;
  background-color: $heading-bg-color;
  color: $heading-color;
}
