.container {
  height: 8rem;
  background-color: #24204b;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
}

.navbar {
  width: 30rem;

  & ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
}

.link {
  font-size: 1.5rem;
}
