.container {
  height: 8rem;
  background-color: #24204b;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  color: #fff;
  margin-bottom: 3rem;
}

.logo {
  font-size: 1.5rem;
}

.navbar {
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
}

.link {
  font-size: 1.5rem;
}
