.wrapper {
  margin: 0 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    "fees fees fees fees"
    "mempool mempool mempool unconfirmed"
    "blocks blocks blocks blocks";
}

.fees {
  grid-area: fees;
}

.mempool {
  grid-area: mempool;
}

.unconfirmed {
  grid-area: unconfirmed;
}

.blocks {
  grid-area: blocks;
}

.loader {
  overflow: hidden;
  position: relative;
  -webkit-animation: progress 2s ease-in-out infinite;
  animation: progress 2s ease-in-out infinite;
  background: #2e324e no-repeat;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    #5d6182,
    hsla(0, 0%, 100%, 0)
  );
  background-size: 200px 100%;
  border-radius: 4px;
  width: 100%;
  height: 14px;
  display: inline-block;
}
