.mempoolContainer {
  height: 10rem;
  width: 30rem;
  padding: 8rem;
  background-color: #24204B;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}

.unconfirmedContainer {
  font-size: 1rem;
  width: 10rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #5B568F;

  & span {
    font-size: 1rem;
    color: #fff;
  }
}

@media (max-width: 600px) {
  
}
