.container {
  height: 8rem;
  width: 80%;
  background-color: #e0e0de;
  border-radius: 0.5rem;
  
  display: flex;
  background: -webkit-linear-gradient(
    90deg,
    #fa7f66 25%,
    #f7e650 25%,
    #f7e650 50%,
    #afe24c 50%,
    #afe24c 75%,
    #86df4f 75%,
    #86df4f 100%
  );
  background: -o-linear-gradient(
    90deg,
    #fa7f66 25%,
    #f7e650 25%,
    #f7e650 50%,
    #afe24c 50%,
    #afe24c 75%,
    #86df4f 75%,
    #86df4f 100%
  );
  background: -moz-linear-gradient(
    90deg,
    #fa7f66 25%,
    #f7e650 25%,
    #f7e650 50%,
    #afe24c 50%,
    #afe24c 75%,
    #86df4f 75%,
    #86df4f 100%
  );
  background: linear-gradient(
    90deg,
    #fa7f66 25%,
    #f7e650 25%,
    #f7e650 50%,
    #afe24c 50%,
    #afe24c 75%,
    #86df4f 75%,
    #86df4f 100%
  );
}

.label {
  font-size: 2rem;
  color: #00000080;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  background: #fff;
  height: 5rem;
  justify-content: center;
  width: 5rem;
  position: absolute;
  top: 15.2rem;
  -webkit-transition: left 2s;
  transition: left 2s;
}

.label:after {
  background-color: #00000080;
  content: " ";
  height: 5.5rem;
  position: absolute;
  top: 4.8rem;
  width: 0.2rem;
}

.filler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
