.container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.body {
  display: flex;
}

.block {
  height: 13.5rem;
  width: 13.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2rem;
  background: repeating-linear-gradient(
    rgb(45, 51, 72),
    rgb(45, 51, 72) 0.166225%,
    rgb(147, 57, 244) 0.166225%,
    rgb(16, 95, 176) 100%
  );
}
